@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');

.logowanie {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .logowanie .div {
    background-color: #ffffff;
    height: 1024px;
    position: relative;
    width: 1440px;
  }
  
  .logowanie .element {
    height: 15px;
    left: 590px;
    position: absolute;
    top: 995px;
    width: 314px;
  }
  
  .logowanie .dodaj-nagwek {
    height: 159px;
    left: 42px;
    object-fit: cover;
    position: absolute;
    top: 21px;
    width: 539px;
  }
  
  .logowanie .masz-ju-konto {
    height: 79px;
    left: 184px;
    position: absolute;
    top: 328px;
    width: 554px;
  }
  
  .logowanie .overlap-group {
    height: 348px;
    left: 157px;
    position: absolute;
    top: 448px;
    width: 576px;
  }
  
  .logowanie .rectangle {
    height: 94px;
    left: 108px;
    position: absolute;
    top: 0;
    width: 348px;
  }
  
  .logowanie .zaloguj-si {
    height: 52px;
    left: 172px;
    position: absolute;
    top: 22px;
    width: 219px;
  }
  
  .logowanie .img {
    height: 274px;
    left: 0;
    position: absolute;
    top: 74px;
    width: 576px;
  }
  
  .logowanie .rectangle-2 {
    height: 37px;
    left: 45px;
    position: absolute;
    top: 147px;
    width: 411px;
  }
  
  .logowanie .rectangle-3 {
    height: 37px;
    left: 45px;
    position: absolute;
    top: 251px;
    width: 411px;
  }
  
  .logowanie .login {
    height: 34px;
    left: 47px;
    position: absolute;
    top: 113px;
    width: 87px;
  }
  
  .logowanie .haso {
    height: 26px;
    left: 47px;
    position: absolute;
    top: 216px;
    width: 86px;
  }
  
  .logowanie .overlap {
    height: 595px;
    left: 862px;
    position: absolute;
    top: 338px;
    width: 507px;
  }
  
  .logowanie .rectangle-4 {
    height: 567px;
    left: 0;
    position: absolute;
    top: 28px;
    width: 507px;
  }
  
  .logowanie .rectangle-login {
    height: 37px;
    left: 48px;
   /* position: absolute;*/
    top: 402px;
    width: 411px;
    }

  input {
    position: absolute;
    left: -660px; 
    top: 257px;
    width: 409px;
    height: 33px;
    border: 1px solid #FFF;
    font-size: 20px;

  }

  input:focus {
    outline: none; 
  }


  .logowanie input[type="password"] {
    left: -660px;
    width: 409px;
    height: 33px;
    top: 361px;
    border: 1px solid #FFF;
    font-size: 20px;
    outline: none;
  }
  
  

  

  .logowanie .rectangle-6 {
    height: 37px;
    left: 48px;
    position: absolute;
    top: 494px;
    width: 411px;
  }
  
  .logowanie .rectangle-7 {
    height: 37px;
    left: 51px;
    position: absolute;
    top: 120px;
    width: 411px;
  }
  
  .logowanie .rectangle-8 {
    height: 37px;
    left: 48px;
    position: absolute;
    top: 212px;
    width: 411px;
  }
  
  .logowanie .rectangle-9 {
    height: 37px;
    left: 48px;
    position: absolute;
    top: 310px;
    width: 411px;
  }
  
  .logowanie .imi {
    height: 33px;
    left: 53px;
    position: absolute;
    top: 86px;
    width: 70px;
  }
  
  .logowanie .login-2 {
    height: 34px;
    left: 53px;
    position: absolute;
    top: 375px;
    width: 87px;
  }
  
  .logowanie .haso-2 {
    height: 26px;
    left: 53px;
    position: absolute;
    top: 465px;
    width: 86px;
  }
  
  .logowanie .numer-telefonu {
    height: 27px;
    left: 53px;
    position: absolute;
    top: 269px;
    width: 245px;
  }
  
  .logowanie .nazwisko {
    height: 26px;
    left: 52px;
    position: absolute;
    top: 170px;
    width: 146px;
  }
  
  .logowanie .wyprbuj-za-darmo {
    height: 62px;
    left: 17px;
    position: absolute;
    top: 0;
    width: 477px;
  }
  
  .logowanie .image {
    height: 39px;
    left: 1219px;
    object-fit: cover;
    position: absolute;
    top: 15px;
    width: 38px;
  }
  
  .logowanie .image-2 {
    height: 36px;
    left: 743px;
    object-fit: cover;
    position: absolute;
    top: 20px;
    width: 61px;
  }
  
  .logowanie .reservetheweather {
    height: 23px;
    left: 813px;
    position: absolute;
    top: 29px;
    width: 351px;
  }
  
  .logowanie .element-2 {
    height: 19px;
    left: 1266px;
    position: absolute;
    top: 29px;
    width: 152px;
  }
  