@import url("https://fonts.googleapis.com/css?family=Source+Serif+Pro");

.without-registration {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.without-registration .container {
  background-color: #ffffff;
  height: 1024px;
  position: relative;
  width: 1440px;
}

.without-registration .overlap {
  height: 159px;
  left: 0;
  position: absolute;
  top: 21px;
  width: 1433px;
}

.without-registration .overlap-group {
  height: 159px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1431px;
}

.without-registration .add-header {
  height: 159px;
  left: 42px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 539px;
}

.without-registration .account-button {
  height: 55px;
  left: 683px;
  position: absolute;
  top: 7px;
  width: 234px;
}

.without-registration .overlap-2 {
  height: 58px;
  position: relative;
  width: 236px;
}

.without-registration .house {
  height: 58px;
  left: 6px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 62px;
}

.without-registration .overlap-group-wrapper {
  height: 55px;
  left: 0;
  position: absolute;
  top: 0;
  width: 236px;
}

.without-registration .overlap-group-2 {
  border-radius: 20px;
  height: 55px;
  position: relative;
  width: 234px;
}

.without-registration .text-wrapper,
.without-registration .div-wrapper,
.without-registration .text-wrapper-2,
.without-registration .text-wrapper-3,
.without-registration .text-wrapper-4,
.without-registration .text-wrapper-5 {
  font-family: "Source Serif Pro", Helvetica;
}

.without-registration .text-wrapper {
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  left: 76px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11px;
  width: 136px;
}

.without-registration .rectangle {
  background-color: #d9d9d933;
  border-radius: 20px;
  box-shadow: 0px 4px 4px #00000040;
  height: 55px;
  left: 0;
  position: absolute;
  top: 0;
  width: 234px;
}

.without-registration .contact-button {
  height: 55px;
  left: 1197px;
  position: absolute;
  top: 7px;
  width: 236px;
}

.without-registration .div-wrapper {
  background-color: #d9d9d933;
  border-radius: 20px;
  box-shadow: 0px 4px 4px #00000040;
  height: 55px;
  position: relative;
  width: 234px;
}

.without-registration .text-wrapper-2 {
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  left: 71px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11px;
  width: 96px;
}

.without-registration .info-button {
  height: 55px;
  left: 940px;
  position: absolute;
  top: 7px;
  width: 236px;
}

.without-registration .text-wrapper-3 {
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  left: 50px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11px;
  width: 125px;
}

.without-registration .p {
  color: #000000;
  font-size: 15px;
  font-weight: 400;
  left: 540px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 991px;
  white-space: nowrap;
  width: 414px;
}

.without-registration .overlap-3 {
  background-image: url(https://c.animaapp.com/jPTIGuWf/img/dodaj-nag--wek--22--1.png);
  /*https://c.animaapp.com/jPTIGuWf/img/dodaj-nag--wek--22--1.png*/
  /*https://c.animaapp.com/S851EPP9/img/dodaj-nag--wek--9--1.png*/
  background-position: 50% 50%;
  background-size: cover;
  height: 680px;
  left: 0;
  position: absolute;
  top: 211px;
  width: 1440px;
}

.without-registration .group {
  height: 61px;
  left: 309px;
  position: absolute;
  top: 380px;
  width: 273px;
}

.without-registration .overlap-group-3 {
  height: 61px;
  position: relative;
  width: 271px;
}

.without-registration .rectangle-2 {
  background-color: #c77679;
  /*background-color: #d9d9d9;*/

  box-shadow: 0px 4px 4px #00000040;
  height: 61px;
  left: 0;
  position: absolute;
  top: 0;
  width: 271px;
}

.without-registration .text-wrapper-4 {
  color: #f5f5f5;
  font-size: 35px;
  font-weight: 400;
  left: 86px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 7px;
  width: 99px;
}

.without-registration .text-wrapper-5 {
  color: #000000;
  font-size: 30px;
  font-weight: 400;
  left: 191px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 192px;
  width: 507px;
}

@media only screen and (max-width: 768px) {
  .without-registration .text-wrapper,
  .without-registration .text-wrapper-2,
  .without-registration .text-wrapper-3,
  .without-registration .text-wrapper-4,
  .without-registration .text-wrapper-5 {
    font-size: 18px;
  }
}
