@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');

.DateSelector {
  position: absolute;
  top: 500px;
  left: -990px;
  font-size: 19px;
  z-index: 999;
}
.DateSelector .DatePicker {
  left: -950px;
}